@model IEnumerable<DienThoaiShopConnection.nhasx>

@{
    ViewBag.Title = "Index";
}
<p>
    @Html.ActionLink("Thêm Nhà sản xuất", "Create")
</p>
<table class="table">
    <tr>
        <th>
          Tên Nhà sản xuất
        </th>
        <th>
            Hình ảnh
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenNSX)
        </td>
        <td>
            <img src="@item.HinhAnh" width="100" height="100" alt="" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
